-# -*- coding: UTF-8 -*-
%ol.breadcrumb
  %li= link_to 'Home',  root_path
  %li.strong= 'Bilder'

.row
  .collection.col-md-3
    = link_to recent_collections_path do
      = image_tag @recent_photo.url_icon, :class => "img-thumbnail img-responsive"
      %br
      = "letzte Bilder"
%h3 nach Jahren
%br
- (1989..Time.now.year).to_a.in_groups_of(5) do | years |
  .row
  - years.compact.each do | year |
    .year= link_to "#{year}", albums_by_year_path(year)
.row
%h3 Alben
%br
- @collections.in_groups_of(4) do | collections |
  .row
  - collections.compact.each do | collection |
    .collection.col-md-3
      = link_to collection do
        = image_tag collection.iconlarge,  :class => "img-thumbnail img-responsive"
        %br
        = collection.name



