-# -*- coding: UTF-8 -*-
=page_header 'Bilder'

%ul.list-group
  %li.list-group-item
    = link_to recent_photos_path do
      letzte Bilder
      = image_tag(@recent_photo.url_icon, :class => "img-thumbnail img-responsive")

  -  @collections.each do | collection |
    %li.list-group-item
      = link_to collection do
        =  collection.name
        =  image_tag collection.iconlarge


