-# -*- coding: UTF-8 -*-
%ol.breadcrumb
  %li= link_to 'Home',   root_path
  %li= link_to 'Bilder', bilder_path
  %li= link_to @collection.name,  @collection

%ul.list-group
  - @collection.albums.order('created_at desc').each do | album |
    %li.list-group-item
      = link_to album do
        = image_tag album.iconsmall, :class => "img-thumbnail img-responsive"
        = album.name


