.row
  .col-sm-6.col-sm-offset-6
    %h1 Login
    = form_for :signin, method: "POST", role: "form" do |f|
      .form-group
        = f.label :username
        .row
          .col-sm-6
            = f.text_field :username, :autofocus => true, class: "form-control"
      .form-group
        = f.label :password
        .row
          .col-sm-6
            = f.password_field :password, class: "form-control"
      .row
        .col-sm-6
          = f.submit 'Ok', :class => "btn btn-success"
          = cancel_button root_path
