-# encoding: utf-8
%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li= link_to 'Administration', admin_root_path
  %li.strong= "Albums"

%h3= "Albums: #{Album.count}"
%table.table.table-bordered.table-striped.table-hover
  %tr
    %th Name
    %th Sichtbar
    %th Anzahl Bilder
    %th  Datum
    %th
  %tr
    - @albums.each do |album|
      %tr
        %td= link_to album.flickr_title, [:admin, album]
        %td= boolean_value album.visible
        %td= album.photos.count
        %td= I18n.l album.created_at, :format => "%B %Y"
        %td
          = edit_button edit_admin_album_path(album)
          = button_with_icon 'Neu von Flickr laden', reload_from_flickr_admin_album_path(album), 'repeat', :method => :put
          = delete_button [:admin, album]

= pagination_links @albums
.panel
  = back_button :back

