= simple_form_for [:admin, @member] do |f|
  = f.error_notification
  = f.input :first_name
  = f.input :last_name
  = f.input :street
  = f.input :plz
  = f.input :city
  = f.input :mobil
  = f.input :email
  = f.input :occurs_at
  = f.input :birthday
  = f.association :user, :label => 'Login', :collection => User.all, :label_method => :label, :prompt => "Choose a User"
  = save_button
  = cancel_button [:admin, :members]

