-# encoding: utf-8
%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li= link_to 'Administration', admin_root_path
  %li.strong=  'Mitglieder'

%h3= "Mitglieder: #{Member.count}"
%table.table.table-bordered.table-striped.table-hover
  %tr
    %th=I18n.t('activerecord.attributes.member.first_name')
    %th=I18n.t('activerecord.attributes.member.last_name')
    %th=I18n.t('activerecord.attributes.member.occurs_at')
    %th Login
    %th
  %tr
    - @members.each do |member|
      %tr
        %td= member.first_name
        %td= member.last_name
        %td= "#{format_date member.occurs_at} #{ '('+ member.years.to_s + ' Jahre)'  if member.years.to_i > 0 }"
        %td= boolean_value !!member.user
        %td
          = edit_button edit_admin_member_path(member)
          -#= delete_button admin_member_path(member)

.panel
  = new_button new_admin_member_path
  = back_button admin_root_path
%p=export_button 'Mitgliederliste', admin_members_path(:format => "csv")
