%h3= "Events: #{Event.count}"

.panel.pb-3
  = new_button new_admin_event_path

%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th= I18n.t("activerecord.attributes.event.title")
      %th= I18n.t("activerecord.attributes.event.location")
      %th Sichtbar
      %th= I18n.t("activerecord.attributes.event.start_date")
      %th= I18n.t("activerecord.attributes.event.end_date")
      %th
  %tbody
    - @events.each do |event|
      - event_presenter = EventPresenter.new(event)
      %tr{id: dom_id(event), class: "#{ event.start_date.past? ? 'danger' : ''}"}
        %td= link_to event_presenter.title, admin_event_path(event)
        %td= event_presenter.location
        %td= boolean_value event_presenter.visible
        %td= format_datetime event_presenter.start_date
        %td= format_datetime event_presenter.end_date
        %td
          = edit_button edit_admin_event_path(event)
          = delete_button admin_event_path(event)

= raw pagy_bootstrap_nav @pagy

.panel
  = back_button admin_root_path
