-# encoding: utf-8
%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li= link_to 'Administration', admin_root_path
  %li.strong=  'Events'

%h3= "Events: #{Event.count}"
%table.table.table-bordered.table-striped.table-hover
  %tr
    %th= I18n.t('activerecord.attributes.event.title')
    %th= I18n.t('activerecord.attributes.event.location')
    %th Sichtbar
    %th= I18n.t('activerecord.attributes.event.start_date')
    %th= I18n.t('activerecord.attributes.event.end_date')
    %th
  %tr
    - @events.each do |event|
      %tr{:class => "#{ event.start_date.past? ? 'danger' : ''}"}
        %td= event.title
        %td= event.location
        %td= boolean_value event.visible
        %td= format_datetime event.start_date
        %td= format_datetime event.end_date
        %td
          = edit_button edit_admin_event_path(event)
          = delete_button admin_event_path(event)
= pagination_links @events
.panel
  = new_button new_admin_event_path
  = back_button admin_root_path

