- event_presenter = EventPresenter.new(@event)

%h1 Event

.event_details
  = render "events/event", event: event_presenter

  .card
    .card-body
      = event_presenter.html_content
  %p
    %b Content:
    = event_presenter.content
  %p
    %b User:
    = event_presenter.user&.username
  %p
    %b Location:
    = event_presenter.location
  %p
    %b Start date:
    = event_presenter.start_date
  %p
    %b End date:
    = event_presenter.end_date
  %p
    %b All day:
    = event_presenter.all_day

= edit_button [ :edit, :admin, @event ]
= back_button admin_events_path
