=page_header I18n.t("activerecord.models.event")

%p
  %b Title:
  = @event.title
%p
  %b Content:
  = @event.content
%p
  %b User:
  = @event.user_id
%p
  %b Location:
  = @event.location
%p
  %b Start date:
  = @event.start_date
%p
  %b End date:
  = @event.end_date
%p
  %b All day:
  = @event.all_day

  = edit_button [:admin, @event]
  = back_button :back
