-# encoding: utf-8
%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li= link_to 'Administration', admin_root_path
  %li.strong= "Photos"

%table.table.table-bordered.table-striped.table-hover
  %tr
    %th
    - %w{flickr_id flickr_title}.each do |attr_name|
      %th= attr_name
    %th Album
    %th Erstellt
    %th
  %tr
    - @photos.each do |photo|
      %tr
        %td= link_to image_tag( photo.url_icon , :class => "img-thumbnail"), admin_photo_path(photo)
        - %w{flickr_id flickr_title}.each do |attr_name|
          %td= truncate photo.send(attr_name).to_s

        %td= truncate photo.album.try(:flickr_title)
        %td= format_datetime photo.created_at
        %td
          = show_button admin_photo_path(photo)
          %br
          = edit_button edit_admin_photo_path(photo)
          = delete_button admin_photo_path(photo)
= pagination_links @photos
.panel
  = back_button :back

