%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li= link_to 'Administration', admin_root_path
  %li= link_to 'Photos', admin_photos_path
  %li.strong= @photo.flickr_title

- Photo.attribute_names.each do |attr_name|
  %p
    -#%b=I18n.t("activerecord.attributes.photo.#{attr_name}")
    %b= attr_name
    = @photo.send attr_name

%p= image_tag  @photo.url_big , :class => "img-thumbnail"
= show_button "https://www.flickr.com/photos/sereosonic70/#{@photo.flickr_id}/", 'Flickr anzeigen'
= debug @photo.flickr_info
= edit_button [:edit, :admin, @photo]
= back_button admin_photos_path
