%ol.breadcrumb
  %li= link_to "Home", root_path
  %li= link_to "Events", events_path
  %li.strong= @event.title
= render @event
= @event.html_content

= back_button root_path
- if admin?
  = edit_button [ :edit, :admin, @event ]
