%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li= link_to "Kommende Events", events_path
= render @event
= @event.html_content

=back_button root_path
-if admin?
  = edit_button [:edit, :admin, @event]
