- event_presenter = EventPresenter.new(@event)

%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{href: "#"} Home
    %li.breadcrumb-item
      = link_to "Events", events_path
    %li.breadcrumb-item.active{"aria-current" => "page"}
      .text-nowrap.fw-bold= event_presenter.title

= render event_presenter

.card
  .card-body
    = event_presenter.html_content

.pt-3
  = back_button root_path
- if admin?
  = edit_button [ :edit, :admin, @event ]
