%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      %a{href: "#"} Home
    %li.breadcrumb-item
      = link_to "Events", events_path
    %li.breadcrumb-item.active{"aria-current" => "page"}
      .text-nowrap.fw-bold= @event.title

= render @event

.card
  .card-body
    = @event.html_content

.pt-3
  = back_button root_path
- if admin?
  = edit_button [ :edit, :admin, @event ]
