-# encoding: utf-8
=page_header 'Nachrichten'

%table.table.table-bordered.table-striped.table-hover
  %tr
    %th= I18n.t('activerecord.attributes.contact.subject')
    %th= I18n.t('activerecord.attributes.contact.name')
    %th= I18n.t('activerecord.attributes.contact.email')
    %th= I18n.t('activerecord.attributes.contact.created_at')
    %th

  %tr
    - @contacts.each do |contact|
      %tr
        %td= contact.subject
        %td= contact.name
        %td= contact.email
        %td= format_date contact.created_at
        %td= show_button [:admin, contact]
= pagination_links @contacts
.panel
  = back_button :back

