= simple_form_for(@album) do |f|
  = f.error_notification

  .form-inputs
    = f.input :flickr_id
    = f.input :flickr_description
    = f.input :flickr_title
    = f.input :iconsmall
    = f.input :iconlarge

  .form-actions
    = f.button :submit
