%h1 Listing albums

%table.table.table-striped.table-bordered.table-condensed
  %tr
    %th Flickr title
    %th Collection
    %th
    %th
    %th

  - @albums.each do |album|
    %tr
      %td= album.flickr_title
      %td= album.collection.flickr_title
      %td= link_to 'Show', album
      %td= link_to 'Edit', edit_album_path(album)
      %td= link_to 'Destroy', album, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Album', new_album_path
