-# -*- coding: UTF-8 -*-
%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li= link_to 'Bilder', bilder_path
  %li= link_to @album.collection.name, @album.collection
  %li.strong= @album.name
  - if admin?
    .edit_it
      = link_to [:edit, :admin, @album] do
        %i.fa.fa-edit
  %br
  %br.clear

- cache([@album,current_role]) do
  = render 'photos/photos', :photos => @album.photos

