-# -*- coding: UTF-8 -*-
%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li= link_to 'Bilder', fotos_path
  %li= link_to @album.collection.name, @album.collection
  %li= link_to "#{@album.name}", @album

= render 'photos/photos', :photos => @album.photos

