-# -*- coding: UTF-8 -*-
%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li= link_to 'Bilder', fotos_path
  %li= link_to @album.collection.name, @album.collection

=page_header "#{@album.name}"

= render 'photos/photos', :photos => @album.photos

