%ul.list-group
  %li.list-group-item.list-group-item-action
    = link_to "Posts", admin_posts_path
    %span.badge.bg-primary.rounded-pill
      = Post.count
  %li.list-group-item.list-group-item-action
    = link_to "Events", admin_events_path
    %span.badge.bg-primary.rounded-pill
      = Event.count
  %li.list-group-item.list-group-item-action
    = link_to "Users", admin_users_path
    %span.badge.bg-primary.rounded-pill
      = User.count

.mt-4
  %h2 Debug
  %dl
    %dt Deploy SHA
    %dd= ENV["DEPLOY_SHA"].presence || "n/a"
    %dt Deploy Timestamp
    %dd= ENV["DEPLOY_TIMESTAMP"].present? ? Time.iso8601(ENV["DEPLOY_TIMESTAMP"]).strftime("%d.%m.%Y %H:%M:%S UTC") : "n/a"
  %p
    This link will intentionally raise an error to test error reporting:
    %strong
      = link_to "raise error", exception_path
