%ol.breadcrumb
  %li= link_to 'Home', root_path
  %li.strong= 'Administration'

%ul.list-group

  %li.list-group-item= show_button admin_members_path,  "Mitglieder"
  %li.list-group-item= show_button admin_posts_path,    "Posts"
  %li.list-group-item= show_button admin_events_path,   "Events"
  %li.list-group-item= show_button admin_contacts_path, "Nachrichten"
  %li.list-group-item= show_button admin_photos_path,   "Photos"
  %li.list-group-item= show_button admin_albums_path,   "Albums"
  %li.list-group-item= show_button admin_users_path,    "Logins"
  %li.list-group-item= show_button admin_info_path,     "ENV info"

%h3 Analytics

%ul.list-group
  %li.list-group-item= show_button 'https://dashboard.heroku.com/apps/henaheisl',    "Heroku"
  %li.list-group-item= show_button 'https://rpm.newrelic.com/accounts/13496/applications/119208',    "New Relic"
