-# encoding: utf-8
=page_header '<%= plural_table_name %>'

%table.table.table-bordered.table-striped.table-hover
  %tr
    <%- attributes.each do |attribute| -%>
    %th <%= attribute.human_name %>
    <%- end -%>
    %th
  %tr
    - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
      %tr
      <%- attributes.each do |attribute| -%>
        %td= <%= singular_table_name %>.<%= attribute.name %>
      <%- end -%>
        %td
          = edit_button edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
          = delete_button <%= singular_table_name %>_path(<%= singular_table_name %>)
= pagination_links @<%= plural_table_name %>
.panel
  = new_button new_<%= singular_table_name %>_path
  = back_button :back

