#carousel.carousel.slide{data: {ride: 'carousel'}}
  %ol.carousel-indicators
    - photos.each_with_index do |photo, index|
      %li{class: ('active' unless index > 0), data: {target: '#carousel', slide_to: index } }
  .carousel-inner
    - photos.each_with_index do |photo, index|
      .item{class: ('active' unless index > 0)}
        = image_tag(photo.url_big, :class => "img-thumbnail img-responsive")#,  photo
        .carousel-caption.hidden-xs
          %h3= photo.album.flickr_title.titleize
          %p= link_to "Original", photo.view_on_flickr_url, :class => 'flickr-link'

  = link_to '#carousel', :"data-slide" => 'prev', :class => 'carousel-control left' do
    .span.glyphicon.glyphicon-chevron-left
  = link_to '#carousel', :"data-slide" => 'next', :class => 'carousel-control right' do
    .span.glyphicon.glyphicon-chevron-right

