%div{id: dom_id(post)}
  .card
    - if admin?
      .position-absolute.top-0.end-0.p-2
        = link_to [:edit, :admin, post], class: "btn btn-outline-primary btn-sm" do
          %i.fa.fa-edit
          Edit
    .card-body
      %h5.card-title
        = link_to post.title, post, class: "text-decoration-none"
      %p.card-text.text-muted.small
        %i.fa.fa-calendar.me-1
        = format_date post.created_at
      .card-text
        - if post.content_type.to_s == "picture"
          = image_tag post.media, class: "img-fluid rounded mb-3"
          = post.html_content
        - elsif post.content_type.to_s == "video"
          .ratio.ratio-16x9.mb-3
            = youtube_video post.media
          .video-description= post.html_content
        - else
          = post.html_content
