= page_header 'Posts'

%table.table.table-bordered.table-striped.table-hover
  %tr
    %th  Title
    %th  Type
    %th  Erstellt
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.content_type
      %td= format_date post.created_at
      %td= show_button post
      %td= edit_button edit_post_path(post)
      %td= delete_button post

= back_button root_path
