- post_presenter = PostPresenter.new(@post)
- content_for(:title) { post_presenter.title }
- content_for(:description) { post_presenter.meta_description }
- content_for(:head) { json_ld(blog_posting_structured_data(@post)) }
- content_for(:head) { json_ld(breadcrumb_structured_data([{ name: "Home", url: root_url }, { name: "Posts", url: posts_url }, { name: post_presenter.title }])) }

%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to "Home", root_path
    %li.breadcrumb-item
      = link_to "Posts", posts_path
    %li.breadcrumb-item.active{"aria-current" => "page"}
      .text-nowrap.fw-bold= post_presenter.title

%h1= post_presenter.title

= render post_presenter

.pt-3
  = back_button root_path
- if admin?
  = edit_button [ :edit, :admin, @post ]
  = delete_button [ :admin, @post ]
