%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to "Home", root_path
    %li.breadcrumb-item
      = link_to "Posts", posts_path
    %li.breadcrumb-item.active{"aria-current" => "page"}
      .text-nowrap.fw-bold= @post.title


= render @post

= back_button root_path
- if admin?
  = edit_button [ :edit, :admin, @post ]
  = delete_button [ :admin, @post ]
