%h3= "Users: #{User.count}"

%table.table.table-bordered.table-striped.table-hover
  %tr
    %th Name
    %th E-Mail
    %th Admin
    %th
    %th
  %tr
    - for user in @users
      %tr{ id: dom_id(user) }
        %td= user.username
        %td= user.email_address
        %td= boolean_value user.admin?
        %td= edit_button edit_admin_user_path user
        %td= delete_button admin_user_path(user)
- if @pagy.pages > 1
  .d-flex.justify-content-center.mt-4
    = raw pagy_bootstrap_nav @pagy

.panel
  = new_button new_admin_user_path
  = back_button :back
