%footer.footer
  %p
    ="© 1996 - #{Time.now.year} Henaheisl e.V. - Alle Rechte vorbehalten"
  %p
    %span
      = link_to 'Impressum', impressum_path
      = "|"
    %span
      = link_to 'info@henaheisl.de', "mailto:info@henaheisl.de"
      = "|"
    %span
      = link_to 'http://facebook.com/henaheisl',:target => '_blank' do
        %i.fa.fa-facebook-square
        Facebook
