-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .banner= image_tag 'banner_v2.png',:class => 'img-responsive'
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    .collapse.navbar-collapse
      %ul.nav.nav-pills.nav-justified
        %li
          = link_to root_path do
            %i.fa.fa-home

        %li= link_to "Bilder",   photos_path
        %li= link_to "Kalender", events_path
        %li= link_to "Kontakt",  contact_path
        %li= link_to "Über Uns", about_path
        - if admin?
          %li= link_to "Admin", admin_root_path
  = render 'layouts/personal_box'

