%nav.navbar.navbar-expand-lg.navbar-light
  .container-fluid
    = link_to root_path, class: "navbar-brand" do
      %i.fa.fa-home

    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon

    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav.me-auto
        %li.nav-item
          = link_to "Kalender", events_path, class: "nav-link"
        %li.nav-item
          = link_to "Blog", posts_path, class: "nav-link"
        %li.nav-item
          = link_to "Über Uns", about_path, class: "nav-link"
        - if admin?
          %li.nav-item
            = link_to "Admin", admin_root_path, class: "nav-link"

  = render "layouts/personal_box"
