!!!
%html{lang: "de"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    - page_title = content_for?(:title) ? "#{content_for(:title)} - Henaheisl e.V." : "Henaheisl e.V. - FC Bayern Fanclub Wartenberg"
    - page_description = content_for?(:description) ? content_for(:description) : "Henaheisl e.V. - Offizieller FC Bayern Fanclub aus Wartenberg, gegründet 1991."
    - page_image = content_for?(:og_image) ? content_for(:og_image) : image_url("banner_v3.png")
    %title= page_title
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "yes", name: "mobile-web-app-capable"}/
    %meta{name: "description", content: page_description}/
    %link{rel: "canonical", href: request.original_url.split("?").first}/
    %meta{property: "og:title", content: page_title}/
    %meta{property: "og:description", content: page_description}/
    %meta{property: "og:image", content: page_image}/
    %meta{property: "og:url", content: request.original_url.split("?").first}/
    %meta{property: "og:type", content: "website"}/
    %meta{property: "og:locale", content: "de_DE"}/
    = csrf_meta_tags
    = csp_meta_tag

    - if ENV["UMAMI_WEBSITE_ID"].present?
      %script{defer: true, src: "https://cloud.umami.is/script.js", "data-website-id": ENV["UMAMI_WEBSITE_ID"]}{}

    = yield :head

    %link{href: "/icon.png", rel: "icon", type: "image/png"}/
    %link{href: "/icon.svg", rel: "icon", type: "image/svg+xml"}/
    %link{href: "/icon.png", rel: "apple-touch-icon"}/

    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"


  %body{ id: "#{controller.controller_name}_#{controller.action_name}", class: "#{controller.controller_name} #{controller.action_name} d-flex flex-column min-vh-100" }
    = auto_discovery_link_tag :atom,  posts_url(format: "atom"), title: "Henaheisl Blog"

    %a.visually-hidden-focusable.skip-link{ href: "#main-content" } Zum Inhalt springen

    %header
      .banner.d-flex.justify-content-center
        = link_to root_path, "aria-label": "Henaheisl e.V. Startseite" do
          = image_tag "banner_v3.png", class: "img-fluid", alt: "Henaheisl e.V. - FC Bayern Fanclub Wartenberg"

      = render "layouts/messages"
      = render "layouts/navigation"
    %main#main-content.flex-grow-1{ tabindex: "-1" }
      .container-fluid
        .row.pt-3
          .col-sm-9
            = yield
          .col-sm-3
            = render "layouts/sidebar"

    %footer.footer{"aria-label" => "Fußbereich"}
      %p
        = "© 1991 - #{Date.current.year} Henaheisl e.V. - Alle Rechte vorbehalten"
      %nav{"aria-label" => "Footer-Navigation"}
        %ul.list-inline.mb-0
          %li.list-inline-item
            = link_to "Impressum", impressum_path
          %li.list-inline-item{"aria-hidden" => "true"} |
          %li.list-inline-item
            = link_to "Datenschutz", impressum_path(anchor: "datenschutz")
          %li.list-inline-item{"aria-hidden" => "true"} |
          %li.list-inline-item
            = link_to "info@henaheisl.de", "mailto:info@henaheisl.de"
          %li.list-inline-item{"aria-hidden" => "true"} |
          %li.list-inline-item
            = link_to "https://www.facebook.com/henaheisl", target: "_blank", rel: "noopener", "aria-label": "Facebook (öffnet in neuem Fenster)" do
              %i.fa-brands.fa-facebook{"aria-hidden" => "true"}
              Facebook
          %li.list-inline-item{"aria-hidden" => "true"} |
          %li.list-inline-item
            = link_to "https://www.instagram.com/henaheisl", target: "_blank", rel: "noopener", "aria-label": "Instagram (öffnet in neuem Fenster)" do
              %i.fa-brands.fa-instagram{"aria-hidden" => "true"}
              Instagram
