!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Henaheisl e.V."
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %meta{content: "yes", name: "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{href: "/icon.png", rel: "icon", type: "image/png"}/
    %link{href: "/icon.svg", rel: "icon", type: "image/svg+xml"}/
    %link{href: "/icon.png", rel: "apple-touch-icon"}/

    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"


  %body{ id: "#{controller.controller_name}_#{controller.action_name}", class: "#{controller.controller_name} #{controller.action_name}" }
    #wrap
      %header
        .banner
          = image_tag "banner_v3.png", class: "img-responsive"
          = render "layouts/navigation"
    .container
      %main{role: "main"}
        .row
          = render "layouts/messages"
          .col-sm-9.col-xs-12
            = yield
          .col-sm-3.hidden-xs.float-right
            = render "layouts/sidebar"
    -#= auto_discovery_link_tag :atom,  posts_url(:format=>'atom'), :title=>'Henaheisl Blog'

    %footer.footer
      %p
        = "© 1991 - #{Time.now.year} Henaheisl e.V. - Alle Rechte vorbehalten"
      %p
        %span
          = link_to "Impressum", impressum_path
          = "|"
        %span
          = link_to "info@henaheisl.de", "mailto:info@henaheisl.de"
          = "|"
        %span
          = link_to "http://facebook.com/henaheisl", target: "_blank" do
            %i.fa.fa-facebook-square
            Facebook
