!!!
%html
  = render 'layouts/head'
  %body{ :id => "#{controller.controller_name}_#{controller.action_name}", :class => "#{controller.controller_name} #{controller.action_name}" }
    #wrap.container
      %header
        #headerimage
        = render 'layouts/navigation'

      %main{:role => "main"}
        .row.spacer
          = render 'layouts/messages'
          .col-sm-8.col-xs-12
            = yield
          .col-sm-4.hidden-xs
            = render 'layouts/sidebar'
    = auto_discovery_link_tag :atom,  posts_url(:format=>'atom'), :title=>'Henaheisl Blog'
    = render 'layouts/footer'

